/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.container{
    width:500px;
    margin: 2%;
    background: #fef7ed;
}

header{
    width: 90%;
	display:flex;
    flex-direction: column;
    align-items: center;
    color: #FF8B7B;
    margin:20px 50px;
    /* border: 1px solid red; */
}
header h1{
    font-weight: bold;
    text-decoration: underline;
   
    font-size: 50px;
}
header nav{
margin:0;
width: 90%;
padding: 0;
/* border: 1px solid red; */
}

header nav a{
    display: block;
    width: 90%;
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #FED955;
    border-top: 1px solid #FED955;
    margin: 0;
    color: #3A54B4;
    text-decoration: none;
    /* border: 1px solid red; */
}
header nav a:hover{
    color: #FED955;
}
.mission{
	font-weight:bold;
	text-align:center;
	display:flex;
    margin: 20px 50px;
	/* border: 1px solid red; */
}

/* BUTTONS */
button{
width: 25%;
margin-top: 20px;
border-radius: 15px;
background: #FF8B7B;
color: white;
cursor: pointer;
}
button:hover{
    background:#3A54B4;  
}

/* TABS SECTION */
.section {
    width: 80%;
    margin: 45px auto;
    display: flex;
    border: 1px solid #FFB5AB;
    box-shadow: 1px 1px 5px #FF8B7B;
    border-radius: 10px;
    overflow: hidden;
  }
  .section .box {
    padding: 40px;
  }
  .section .box .box-title {
    font-size: 24px;
    padding-bottom: 10px;
    font-weight: bold;
  }


/* TABS  */
.tabs {
    width: 100%;
  }
  .tabs .tabs-items {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    padding-top: 60px;
  }
  .tabs .tabs-item {
    display: none;
    width: 85%;
  }
  .tabs .tabs-item .tabs-item-title {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 10px;
  }
  .tabs .tabs-item-selected {
    display: block;
  }
  .tabs .tabs-links {
    display: flex;
    background-color: #FFB5AB;
  }
  .tabs .tabs-link {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #FFB5AB;
    border-right: 1px solid white;
    color: #ffffff;
    cursor: pointer;
  }
  .tabs .tabs-link:hover {
    background-color: #FF8B7B;
  }
  .tabs .tabs-link-selected {
    z-index: 2;
    border-right: 1px solid #FFB5AB;
    background-color: #ffffff;
    color: black;
  }
  .tabs .tabs-link-selected:hover {
    background-color: #ffffff;
  }

/* tab image */
.reviewImg{
    width: 50px;
}

 /* bottom section */
.signUp{
    width: 80%;
    margin: 20px 50px;
}

/* FOOTER */
footer{
    width: 80%;
	text-align:center;
	font-size:14px;
	margin:20px;
}